header {
    width: 100%;
    height: 80px;
    .header-container {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        .header-menu {
            width: 575px;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    a{
                        color: #14171F;
                        &:hover {
                            color: #F9995D;
                        }
                    }
                }
            }
           
        }
    }
}