.login{
    width: 100%;
    height: 632px;
    background: #F6F8F7;
    .login-container{
        width: 100%;
        max-width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
        .youCan{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-bottom: 38px;
                h2{
                    width: 432px;
                    color: #292E3D;
                    font-size: 36px;
                    font-weight: bold;   
                }
                p{
                    width: 539px;
                    font-size: 20px;
                    text-align: center;
                }    
        }
        .form{
            width: 592px;
            .input1, .input2, .input3, .input4{
                width: 280px;
                height: 41px;
                margin-top: 20px;

            }
            .input1, .input3{
                margin-right: 32px;
            }
            .input-message{
                width: 592px;
                height: 135px;
                margin-top: 66px;
                resize: none;
                
            }
            select {
                color: gray;  
                .option-selected {
                    color: black;
                }
            }

            .input-message::placeholder{
                
            }
            .p-message{
                font-size: 16px;
                color: #667299;

            }
            
        } 
        .enviar{
            width: 592px;
            height: 53px;
            background:#2947A9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: white;
            margin-top: 20px;
        }
    }
}
