.services{
    background: #F6F8F7;
    width: 100%;
    .services-container{
        width: 100%;
        max-width: 1200px;
        height: 100%;
        padding-bottom: 76px;
        margin: auto;
        .container-h2{
            width:100%; 
            text-align: center;
            padding-top: 44px;
            padding-bottom: 36px;
        }
        h2{ 
            height:42px;
            font-size: 36px;
            font-weight: bold;  
            justify-content: center;
            margin-top: 44px;
            margin-bottom: 36px;  
        }
        .primeralinea{
            width: 100%; 
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 48px;
            .primeralinea-cajas{
                width: 271px;
                height: 181px;
               background: #ffffff;
                position: relative;
                text-align: center;
                
                h4{
                    margin-top: 120px;
                    color: #2947A9;
                }
                .h4-black{
                    color: #ffffff;
                }
                .casa{
                    width: 31.66px;
                    height: 33.33px;
                    position: absolute;
                    top: 41.33px;
                    left: 118.84px;

                }
                .renovation{
                    width: 37.67px;
                    height: 33.33px;
                    position: absolute;
                    top: 41.33px;
                    left: 120.5px;
                }
                .consultation{
                    width: 31.94px;
                    height: 31.97px;
                    position: absolute;
                    top: 42.01px;
                    left:119.03px;
                }
                .linea{
                    width: 60px;
                    height: 2px;
                    position: absolute;
                    top: 98px;
                    left: 105.5px; 
                }
                .cuadroimg{
                    width: 23.33px;
                    height: 23.33px;
                    background: #7595FD;
                    position: absolute;
                    top: 54.67px;
                    left: 115.5px;
                }
            }
            .azul{
                background: #2947A9;
            }
        }
        .segundalinea{
            display: flex;
            justify-content: space-evenly;
            .segundalinea-cajas{
                width: 271px;
                height: 181px;
                background: #ffffff;
                position: relative;
                text-align: center;
                
                h4{
                    margin-top: 120px;
                    color: #ffffff;
                }
                .h4-blue{
                    color: #2947A9;
                }
                .repair{
                    width: 33.33px;
                    height: 26.67px;
                    position: absolute;
                    top: 44.67px;
                    left: 118.83px;

                }
                .architecture{
                    width: 18.82px;
                    height: 30px;
                    position: absolute;
                    top: 43px;
                    left: 126.1px;

                }
                .electric1{
                    width: 15px;
                    height: 21.67px;
                    position: absolute;
                    top: 44.67px;
                    left: 120px;

                }
                .electric2{
                    width: 18.33px;
                    height: 13.33px;
                    position: absolute;
                    top: 58px;
                    left: 131.67px;

                }
                .linea{
                    width: 60px;
                    height: 2px;
                    position: absolute;
                    top: 98px;
                    left: 105.5px; 
                }
                .cuadroimg{
                    width: 23.33px;
                    height: 23.33px;
                    background: #7595FD;
                    position: absolute;
                    top: 54.67px;
                    left: 115.5px;
                }
            }
            .azul{
                background: #2947A9;
            }
        }
    }
}